.logo-name{
    background: url('../img/logo.png') no-repeat center;
    -webkit-background-size: 300px;
    background-size: 300px 69px;
}

.navbar-header .fa-outdent {
    display: inline-block;
}

.navbar-header .fa-indent {
    display: none;
}

.mini-navbar .navbar-header .fa-outdent {
    display: none;
}

.mini-navbar .navbar-header .fa-indent {
    display: inline-block;
}

.profile-element {
    padding: 12px 0 5px;
}

.profile-element p {
    padding-top: 5px;
    font-size: 16px;
    color: #999;
}

.nav .nav-header {
    padding: 0;
    text-align: center;
}

.toolbar {
    padding:10px;
    background:#f9f9fc;
}

.toolbar .toolbar-actions{
    width:20%;
    float:left;
    padding:5px;
}
.toolbar .toolbar-searchs{
    float:right;
    width:80%;
}

.toolbar .toolbar-searchs input{
    width:120px;
}

.toolbar .toolbar-searchs .form-group{
    margin:5px 10px 5px 0;
}